{{#each this}}
    <section class="panel">
        <div id="section{{@index}}" data-parent="#categories-container" class="collapse">
          {{#each this}}
              <article class="fixed-img">
                  <!--description of the image being used-->
                {{#if imgDesc}}
                    <figcaption>
                      {{{imgDesc}}}
                    </figcaption>
                {{/if}}
                  <div class="row">
                      <div class="text-box col-md-8 col-md-offset-2">
                          <!-----adds title present---->
                        {{#if title}}
                            <h3>
                              {{title}} {{#if date}}<span>{{date}}</span>{{/if}}
                            </h3>
                        {{/if}}
                          <p>{{{text}}}</p>
                      </div>
                  </div>
              </article>
          {{/each}}
        </div>
    </section>
{{/each}}