{{#each this}}
  <div class="panel">
      <div id="section{{@index}}" data-parent="#categories-container" class="collapse">
        {{#each this}}
            <div class="fixed-img background{{../index}}{{@index}}">
              {{#if imgDesc}}
                  <div class="img-desc">
                    {{{imgDesc}}}
                  </div>
              {{/if}}
                <div class="container">
                    <div class="itemtext col-md-8 col-md-offset-2">
                        <!-----adds title present---->
                      {{#if title}}
                        {{#if date}}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3>{{title}}</h3>
                                </div>
                                <div class="col-xs-6 date">
                                    <h3>{{date}}</h3>
                                </div>
                            </div>
                        {{else}}
                            <div class="row">
                                <h3>{{title}}</h3>
                            </div>
                        {{/if}}
                      {{else}}
                        {{#if date}}
                            <div class="row">
                                <h3>{{date}}</h3>
                            </div>
                        {{/if}}
                      {{/if}}
                        <div class="row">
                            <p>{{{text}}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
      </div>
  </div>
{{/each}}