{{#each this}}
    <section class="panel">
        <div id="section{{@index}}" data-parent="#categories-container" class="collapse">
          {{#each this}}
              <article class="row">
                  <figure class="col-sm-2 col-sm-offset-3">
                      <img src="../images/stories/ge_amstc.jpg" />
                    {{#if title}}
                        <h3>
                          {{title}} {{#if date}}<span>{{date}}</span>{{/if}}
                        </h3>
                    {{/if}}
                      <!--description of the image being used-->
                    {{#if imgDesc}}
                        <figcaption>
                          {{{imgDesc}}}
                        </figcaption>
                    {{/if}}
                  </figure>
                  <div class="text-box col-sm-3 col-sm-offset-2">
                      <p>{{{text}}}</p>
                  </div>
              </article>
          {{/each}}
        </div>
    </section>
{{/each}}